/* title */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.genre{
    color: rgba(245, 245, 245, 0.603);
    font-size: 220%;
    margin-top: 1%;
    padding-left: 5%;

}
/*  nav styling */
nav{
    background-color: rgb(15, 15, 15);
    padding:1rem;
    position: fixed;
    width: 100%;
}

/* styling cards */
.movies-Container{
    padding-top: 10%;
    max-width: 1400px;
    align-items: center;
    text-align: center;
}

/* sidbar cover */
.dramaMovies{
    margin-left: 5%;
}
/* displaying rows*/
.dramaRows{
    display: inline;
    margin-top:2%;
    height: 200px;
    width: 160px;
    margin-bottom: 4%;
    padding-left: 1rem;
    
}
.coverDrama{
    z-index: 3;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top:-200%;
    padding-top: 300%;
    display: none;
}


/* download */
.noDownloadContainer{
   
   margin-left: 23%;
 
}
.noDownloadContainer img{
    width: 51vw;
    height: 50vh;
    margin-top: 10%;

   
}
.backToHome{
    margin-top: 2%;
}
.backToHome a{
    padding: 1%;
    background-color: rgb(116, 116, 116);
    font-size: 140%;
    width: 50%;
    color: white;
    text-decoration: none;
    margin-left: 13%;
}
.download-Container{
    display: inline-flex;
    margin-top: 14%;
    margin-left: 10%;
}
.download-movies{
   display: flex;
   width: 100%;
}
