 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*styling nav*/
nav{
    background-color: rgb(37, 32, 32,0.1);
    display: flex;
    align-items: center;
    position: fixed;
    z-index:2;
    
}
/* styling side bar*/
.sideNavContainer{
    transform: translateY(3px);
    margin-right: 1rem;
    cursor: pointer;
    margin-left: 1rem;
}

.backdrop{

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.backdrop-active{
    display: block;
}
.sidebar{
    
    left: 0;
    top: 0;
    width: 100%;
    max-width: 20rem;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgb(37, 32, 32);
    transform: translateX(-100%);
    position: fixed;
    z-index: 4;
}
.sidebar-active{
    transform: translateX(0);
    
}
.side_profile{
    padding:1rem 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}
.side_profile h1{

    font-size:  1rem;
    color:black;
    margin-bottom: 6px;
}
.side_profile img{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    transform: translateX(-0.3rem);
}
.sidebar-list{
    list-style: none;
    overflow: hidden;
}

.sidebar-item{
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    position:relative;
}
.sidebar-item a{

    text-decoration: none;
    color: rgba(233, 232, 232);
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}
.sidebar-item:hover{
    background-color: rgb(64, 65, 66);
    height: auto;
    width: 100%;
    transition: 0.3s;
}

.openSideBar{
    font-size: 200%;
    margin-left: 5%;
}
.selectedOption{
    background-color: red;
    height: auto;
    color: red;
    width: 2%;
}
.styleDownload{
    padding:1rem 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}
.styleDownload:hover{
    background-color: rgb(64, 65, 66);
    height: auto;
    width: 100%;
    transition: 0.3s;
}
.styleDownload a{
    text-decoration: none;
    color: rgba(233, 232, 232);
    font-size: 120%;
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
}
.styleDownload i{

    color: rgba(233, 232, 232);
    font-size: large;
    
}
/*styling the front image*/
#posterImg{
    width: 100%;
    height: 30rem;
    box-shadow: 5px 5px 50px 50px #000000;
    

    
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}



 /* styling the front big image*/
.frontImgContainer{
  background-position: center center;
  background-size:cover;
  object-fit: content;
}

.frontImgContent{
    margin-left: 1px;
    padding:70px;
    height: 32rem;
}
.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    color: white;
    margin-top: 2.5rem;
    margin-bottom: 5rem;

}
.overview{
    width: 45rem;
    line-height: 1.4;
    padding-top: 1rem;
    font-size: 1.4rem;
    max-width: 460px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

.frontbuttons{
    margin-bottom: 3em;
}
.listBtn{
    margin-left: 2rem;
}

/* styling the play and list button*/
.frontbuttons a{
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
}
.bottom-gradient{
    height: 8em;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(17, 17, 17, 0.91),
        #111
    );
}

.originalTitle p{
    color: white;
    font-size: 130%;
}
.originalTitle{
    margin-top: -5%;
}
/* styling the  originals rows*/
.slick{
    overflow: hidden;
  padding: 0;
  position: relative;
} 

/* this is the originals row*/
.originalRows{
    overflow: hidden;
    padding: 0;
    position: relative;
}


.slider{
    margin-bottom: 3%;
}

.prev,.next{
    position: absolute;
    color: white;
    z-index: 1;
    margin-top: -14%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.nextBtn{
    margin-left: 94%;
}
.accessable{
    z-index: 3;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top:-100%;
    padding-top: 300%;
    display: none;
}

/*this is the actin row*/
.actionRows{
    
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-top: 0.3%;    
}

.actionTitle p{
    color: white;
    font-size: 130%;
}
.actionTitle{
    margin-top: 2%;
}
.nextAction,.prevAction{
    position: absolute;
    color: white;
    margin-top: -14%;
    z-index: 1;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.actionNextBtn{
    margin-left: 94%;
}

/* adventure */
.adRows{
    
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-top: 0.3%;    
}

.adTitle p{
    color: white;
    font-size: 130%;
}
.adTitle{
    margin-top: 2%;
}
.nextAd,.prevAd{
    position: absolute;
    color: white;
    margin-top: -14%;
    z-index: 1;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.adNextBtn{
    margin-left: 94%;
}

/* comedy */
.comRows{
    
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-top: 0.3%;    
}

.comTitle p{
    color: white;
    font-size: 130%;
}
.comTitle{
    margin-top: 2%;
}
.nextCom,.prevCom{
    position: absolute;
    color: white;
    margin-top: -14%;
    z-index: 1;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.comNextBtn{
    margin-left: 94%;
}

/* horror */
.horrRows{
    
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-top: 0.3%;    
}

.horrTitle p{
    color: white;
    font-size: 130%;
}
.horrTitle{
    margin-top: 2%;
}
.prevHorr,.nextHorr{
    position: absolute;
    color: white;
    margin-top: -14%;
    z-index: 1;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.horrNextBtn{
    margin-left: 94%;
}

/* romance */
.romRows{
    
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-top: 0.3%;    
}

.romTitle p{
    color: white;
    font-size: 130%;
}
.romTitle{
    margin-top: 2%;
}
.prevRom,.nextRom{
    position: absolute;
    color: white;
    margin-top: -14%;
    z-index: 1;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.romNextBtn{
    margin-left: 94%;
}


/* scifi */
.scifiRows{
    
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-top: 0.3%;    
}

.scifiTitle p{
    color: white;
    font-size: 130%;
}
.scifiTitle{
    margin-top: 2%;
}
.prevscifi,.nextscifi{
    position: absolute;
    color: white;
    margin-top: -14%;
    z-index: 1;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.scifiNextBtn{
    margin-left: 94%;
}

@media screen and (max-width: 700px) {
    .prev,.next{
        margin-top: -19%;
        padding:2%;
    }
    .nextBtn{
        margin-left: 86%;
    }
    .nextAction,.prevAction{
        margin-top: -19%;
        padding:2%;
    }
    .actionNextBtn{
        margin-left: 86%;
    }
    .nextAd,.prevAd{
        margin-top: -19%;
        padding:2%;
    }
    .adNextBtn{
        margin-left: 86%;
    }
    .nextCom,.prevCom{
        margin-top: -19%;
        padding:2%;
    }
    .comNextBtn{
        margin-left: 86%;
    }
    .nextHorr,.prevHorr{
        margin-top: -19%;
        padding:2%;
    }
    .horrNextBtn{
        margin-left: 86%;
    }
    
    .nextscifi,.prevscifi{
        margin-top: -19%;
        padding:2%;
    }
    .scifiNextBtn{
        margin-left: 86%;
    }
}
@media screen and (max-width: 600px) {
    .prev,.next{
        margin-top: -22%;
        padding:2%;
    }
    .nextBtn{
        margin-left: 80%;
    }
    .nextAction,.prevAction{
        margin-top: -22%;
        padding:2%;
    }
    .actionNextBtn{
        margin-left: 80%;
    }
    .nextAd,.prevAd{
        margin-top: -22%;
        padding:2%;
    }
    .adNextBtn{
        margin-left: 80%;
    }
    .nextCom,.prevCom{
        margin-top: -22%;
        padding:2%;
    }
    .comNextBtn{
        margin-left: 80%;
    }
    .nextHorr,.prevHorr{
        margin-top: -22%;
        padding:2%;
    }
    .horrNextBtn{
        margin-left: 80%;
    }
    .overview{
        font-size: 1rem;
        max-width: 200px;
    }
    .frontbuttons a{
        font-size: 90%;
    }
    .nextRom,.prevRom{
        font-size: 1rem;
        max-width: 200px;
    }
    .romNextBtn{
        font-size: 90%;
    }
    .scifiNextBtn{
        font-size: 90%;
    }
}
@media screen and (max-width: 990px) {
    .prev,.next{
        margin-top: -17%;
    }
    .nextAction,.prevAction{
        margin-top: -17%;
    }
    .nextAd,.prevAd{
        margin-top: -17%;
    }
    .nextCom,.prevCom{
        margin-top: -17%;
    }
    .nextHorr,.prevHorr{
        margin-top: -17%;
    }
    .nextRom,.prevRom{
        margin-top: -17%;
    }
    .nextscifi,.prevscifi{
        margin-top: -17%;
    }
    
}
@media screen and (max-width: 1102px) {
    .prev,.next{
        padding: 3.4%;
    }
    .nextBtn{
        margin-left: 91%;
    }
    .nextAction,.prevAction{
        padding: 3.4%;
    }
    .actionNextBtn{
        margin-left: 91%;
    }
    .nextAd,.prevAd{
        padding: 3.4%;
    }
    .adNextBtn{
        margin-left: 91%;
    }
    .nextCom,.prevCom{
        padding: 3.4%;
    }
    .comNextBtn{
        margin-left: 91%;
    }
    .nextHorr,.prevHorr{
        padding: 3.4%;
    }
    .horrNextBtn{
        margin-left: 91%;
    }
    .accessable{
        margin-top:-290%;
        padding-top: 800%;
    }
    .nextRom,.prevRom{
        padding: 3.4%;
    }
    .romNextBtn{
        margin-left: 91%;
    }
    .nextscifi,.prevscifi{
        padding: 3.4%;
    }
    .scifiNextBtn{
        margin-left: 91%;
    }

}